@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}
.color-p{
    color: #ef7998;
}
.font-p{
    font-family: 'Solitreo', cursive;
}
.btn-p:hover{
    background-color: #ef7998;
    color: white;
}

.navbar-toggler {
    font-size: 1rem;
    color: #ef7998;
}

.banner{
    min-height: calc(100vh - 66px);
    background: linear-gradient(rgba(249, 228, 148, 0.5), rgba(249, 228, 148, 0.5)), url("img/headerBcg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* Store Section */
.single-item:hover {
    box-shadow: 0 15px 15px rgb(150, 150, 150);
}
.img-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.store-img {
    transition: all 0.8s ease-in-out;
}
.img-container:hover .store-img {
    transform: scale(1.2);
}
/* Services Section */
.services{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/servicesBcg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}